{% extends "base.html" %} 

{% block link %}
<link rel="stylesheet" href="../static/css/about.css">
{% endblock %}
{% block title %}Contact{% endblock %}
{% block content %} 
<div class="body">
    <div class="container">
        <h1>Our Team</h1>

        <h5>
            <a href="https://www.linkedin.com/in/adrija26sg">Adrija</a>: asengupta_be22@thapar.edu <br>
            <a href="https://www.linkedin.com/in/navin">navin</a>: nmattu_be22@thapar.edu <br>
            <a href="https://www.linkedin.com/in/mansidak"> Mansidak</a>: mkaur_be22@thapar.edu <br>
            
        </h5>
        
    </div>
   

</div>

{% endblock %}